#root {
  height: 100vh;
  width: 100vw;
  --gapY: 20px;
  --navBarSize: 200px;
  --dark1: #1e1e1e;
  --dark2: #252526;
  --dark3: #2d2d30;
  --dark4: #3e3e42;
  --UTDOrange: #E87500;
  --UTDGreen1: #154734;
  --UTDGreen2: #1d5f3c;
  --text1: #f1f1f1;
}

p,
Link,
h1,
h2,
span,
div {
  color: var(--text1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

html, body {
  height: 100%;
  padding: 0px;
  border: 0px;
  margin: 0px;
}

body {
  line-height: 1;
}

.App {
  display: flex;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  box-sizing: border-box;
}