.classPosts {
  height: 100%;
  background-color: var(--dark2);
  overflow-y: scroll;
  overflow-x: hidden;
}

.posts {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
}

.post {
  display: flex;
  flex-direction: column;
  gap: 5px;
  background-color: var(--UTDGreen1);
  padding: 10px;
  border-radius: 20px;
  box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.8);
  transform: translateY(0px);
}

.post:hover {
  background-color: var(--UTDGreen2);
  box-shadow: 20px var(--gapY) 30px 2px rgba(0, 0, 0, 0.8);
  transform: translateY(calc(var(--gapY) / -2));
}

.classTitle {
  position: sticky;
  top: 0;
  background-color: var(--UTDGreen2);
  padding: 10px;
  margin: 0;
  font-size: 24px;
  font-weight: bold;
  z-index: 1;
  text-align: center;
  width: 100%;
}

.postHeading {
  display: inline-flex;
  align-self: flex-end;
  gap: 4px;
  width: 100%;
}

.postTitle {
  margin: 0;
  flex: 1;
  font-size: 20px;
}

.contentPreview {
  text-align: justify;
  word-wrap: normal;
  margin-left: 15px;
  margin-right: 15px;
  font-size: 14px;
}

.answerCount {
  font-size: 14px;
  display: flex;
}

.numComment {
  flex: 1;
}