.commentInfo {
    display: flex;
    align-items: center;
    margin-right: 15px;
}

.Voting {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.commentBlock {
    border-radius: 20px;
    padding: 10px;
}

.fullComments {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    margin-top: 10px;
    width: 100%;
}

.fullComments>div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* Change to align items to the left /
    margin-left: 20px; / Add margin to shift comments to the left */
}

.post-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    /* Add width to take up the entire width of the parent container */
}

.post-author {
    font-weight: bold;
    margin-right: 5px;
    /* Add margin to separate the author from the date */
}

.post-date {
    color: #fdfbfb;
}

.post-body {
    margin: 10px 0;
}

.commentBlock.depth {
    margin-left: 20px;
}

.upvote-icon{
    color: #1cb2f5
}

.upvote-icon:hover{
    color: #e0dada
}