.commentInfo {
    display: flex;
    align-items: center;
    margin-right: 15px;
}

.Voting {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.threadLine {
    height: 100px;
    width: 2px;
    margin-left: 10px;
    margin-right: 50px;
    background-color: var(--text1);
}
.commentBlock {
    border-radius: 20px;
    padding: 10px;
    padding-top: 0;
}

.childComments {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    width: 100%;
}

.childComments>div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.post-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.post-author {
    font-weight: bold;
    margin-right: 5px;
}

.post-date {
    color: #fdfbfb;
}

.post-body {
    margin: 10px 0;
}

.upvote-icon > * {
    color: #e0dada
}

.upvote-icon:hover > *{
    color: #1cb2f5
}