.main {
    display: grid;
    box-sizing: border-box;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 50%);
    background: linear-gradient(to bottom, var(--dark3) 0%, #1f1f1f 100%);
    flex: 1;
  }
  
  .HomePagePosts {
    border-radius: 20px;
    transform: scale(95%);
    background-color: #1f1f1f;
    height: 50vh;
    overflow: auto;
  }
  