.logContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.log {
    display: flex;
    flex-direction: column;
    width: 400px;
    padding: 20px;
    margin: 0 auto;
    background-color: var(--dark1);
    border-radius: 20px;
    border: 1px solid #ccc;
}

.heading {
    margin: 20px;
}

.login-form {
    width: 100%;
    margin: 0;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.login-form label {
    display: block;
    margin-bottom: 5px;
    color: var(--text1);
}

.login-form input[type="text"],
.login-form input[type="email"],
.login-form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.login-form button[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: var(--UTDGreen1);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-form button[type="submit"]:hover {
    background-color: var(--UTDGreen2);
}