.missing-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--dark3);
}

.missing-title {
    font-size: 4rem;
    font-weight: bold;
    color: var(--UTDOrange);
    margin-bottom: var(--gapY);
}

.missing-text {
    font-size: 1.5rem;
    color: var(--text1);
}