.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    background-color: RGBA(0, 0, 0, .7);
    z-index: 10000;
}

.modal {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: whitesmoke;
    color: black;
    z-index: 10000;
    align-items: center;
    border-radius: 20px;
    padding: 10px;
    justify-content: center;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
}

.modal-title {
    color: #000;
    flex: 1;
}

.content {
    background-color: white;
    color: black;
    width: 500px;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    flex: 1;
}

.button-container {
    display: flex;
    flex: 1;
    justify-content: center;
    margin-top: 20px;
}

.confirm-button {
    background-color: red;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    margin-right: 10px;
}

.cancel-button {
    flex: 1;
    background-color: gray;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    margin-left: 10px;
}