.menu {
  position: fixed;
  width: var(--navBarSize);
  height: 100%;
  background: linear-gradient(to bottom, var(--UTDOrange) 0%, var(--dark3) 100%);
  display: flex;
  flex-direction: column;
  outline: none;
}

.buttons {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: flex-start;
  width: 100%;
  outline: none;
  height: 100%;
}

.courseButton>* {
  width: 100%;
  outline: none;
}

.menu button {
  width: 100%;
  height: 30%;
  text-align: center;
  font-size: 1.2em;
  list-style: none;
  outline: none;
}

.page {
  flex: 1;
  flex-shrink: 0;
  margin-left: var(--navBarSize);
  box-sizing: border-box;
  outline: none;
}

.container {
  display: flex;
  width: 100%;
  outline: none;
}

.signout-button {
  width: 100%;
  height: 30%;
  margin: 7% 0%;
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}

.signout-icon {
  display: inline-block;
  width: 80%;
  height: 80%;
  margin-right: 5%;
  vertical-align: middle;
  outline: none;
}

.signout {
  text-align: center;
  font-size: 1em;
  width: 100%;
  flex: 0;
  margin: 50px 0px;
  padding: 0;
  border: 0;
  outline: none;
}