body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #695f5f;
}

.create-post-container {
  width: 100%;
  flex: 1;
}

.create-post {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  float: left;
  margin-right: 50px;
}

.create-post__title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.create-post__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #bdaeae;
  padding: 50px;
  border-radius: 55px;
  margin-right: 20px;
}

.create-post__label {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.create-post__input {
  font-size: 1.2rem;
  padding: 10px;
  border-radius: 5px;
  border: none;
  margin-bottom: 20px;
}

.create-post__select {
  font-size: 1.2rem;
  padding: 10;
  border-radius: 5px;
  border: none;
  margin-bottom: 20px;
}

.similar-post {
  width: 50%;
  float: right;
}

.similar-posts__title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 20px;
  margin-right: 500px;
}

.similar-posts__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.similar-posts__item {
  margin-bottom: 10px;
}

.similar-posts__link {
  font-size: 1.2rem;
  color: #0077c2;
  text-decoration: none;
}

.similar-posts__link:hover {
  text-decoration: underline;
}