.main {
    --gapY: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: var(--gapY);
    flex: 1;
    flex-grow: 1;
    padding: 10px;
    overflow: auto;
}

.post {
    background-color: #154734;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, .8);
    transform: translateY(0px);
}

.post:hover {
    background-color: #1d5f3c;
    box-shadow: 20px var(--gapY) 30px 2px rgba(0, 0, 0, .8);
    transform: translateY(calc(var(--gapY) / -2));
}

.HomePageConvenience {
    display: flex;
    flex-direction: column;
    background-color: black;
}

.HomePageConvenience:hover {}