.single-post-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

.post-body-container {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  max-width: 800px;
  width: 90%;
}

.onePostInfo {
  display: flex;
  font-size: 1em;
  display: flex;
}

.onePostInfo>* {
  opacity: .4;
  color: #bbb;
}

.post-body-title {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 10px;
}

.post-body-text {
  font-size: 18px;
}

.comments-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  max-width: 800px;
  width: 90%;
}

.comments-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.comments-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.edit-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.edit-label {
  font-size: 18px;
  margin-bottom: 10px;
}

.comments-input {
  font-size: 18px;
  padding: 10px;
  margin-bottom: 10px;
  resize: none;
}

.comments-button {
  font-size: 18px;
  padding: 10px 20px;
  background-color: #b19f9f
}

.modify {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.replies {
  position: relative;
  left: -200px;
}

.ModifyPost {
  display: inline;
  font-size: 18px;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.edit {
  cursor: pointer;
  background-color: #b19f9f;
}

.delete {
  cursor: pointer;
  background-color: #990000;
}